body {
    background-color: #fffedf;
}

.container {
    margin-top: 1%;
}

.jumbotron {
    background-color: #59fcc2;
    padding: 1%;
    border-radius: 10px
}

.jumbotron h1 {
    font-weight: bold;
}